html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  height: 50px;
  color: white;
  padding: 4px 16px;
  font-size: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #000;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 700;
}

textarea {
  font-family: "Noto Sans Mono", monospace;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

button {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  font-weight: 600;

  font-size: 0.875rem;
  line-height: 1.25rem;
}

pre {
  font-family: "Noto Sans Mono", monospace;
}

h3 {
  margin: 4px 2px;
  font-family: "Noto Sans Mono", monospace;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.split .left {
  width: 50%;
  box-sizing: border-box;
  padding: 4px;
}

.split .right {
  width: 50%;
  box-sizing: border-box;
  padding: 4px;
}

.text-sm {
  font-size: 12px;
}

#output {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  min-height: 200px;
}

.error {
  color: red;
  padding: 8px;
}
